.AddButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
  line-height: 55px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
